In [1]:
import pandas as pd

# relacion masa fuerza
## campeonato del mundo de halterofilia

### 2003

In [4]:
!wikitablescrape --url="https://es.wikipedia.org/wiki/Campeonato_Mundial_de_Halterofilia_de_2003"  --output-folder="/tmp/halterofilia/2003/"

Parsing all tables from 'https://es.wikipedia.org/wiki/Campeonato_Mundial_de_Halterofilia_de_2003' into '/tmp/halterofilia/2003/'
Writing table 1 to /tmp/halterofilia/2003/table_1_medallistas_masculino.csv
Writing table 2 to /tmp/halterofilia/2003/table_2_medallistas_femenino.csv
Writing table 3 to /tmp/halterofilia/2003/table_3_medallero_femenino.csv

In [23]:
input_file =  "/tmp/halterofilia/2003/table_1_medallistas_masculino.csv"
male_2003_df = pd.read_csv(input_file)
cols = ["mass_in_kg", "gold", "silver", "bronce"]
male_2003_df.columns = cols
male_2003_df.info()
display(male_2003_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   mass_in_kg  8 non-null      object
 1   gold        8 non-null      object
 2   silver      8 non-null      object
 3   bronce      8 non-null      object
dtypes: object(4)
memory usage: 384.0+ bytes

,mass_in_kg,gold,silver,bronce
0,56 kg,"Wu Meijin China China 127,5 + 160,0 = 287,5​","Adrian Jigău Rumania Rumania 125,0 + 155,0 = 2...","Sedat Artuç Turquía Turquía 125,0 + 152,5 = 27..."
1,62 kg,"Halil Mutlu Turquía Turquía 147,5 + 175,0 = 322,5","Shi Zhiyong China China 147,5 + 170,0 = 317,5","Le Maosheng China China 135,0 + 170,0 = 305,0"
2,69 kg,"Zhang Guozheng China China 152,5 + 192,5 = 345,0","Lee Bae-Young Corea del Sur Corea del Sur 150,...","Turan Mirzəyev Azerbaiyán Azerbaiyán 147,5 + 1..."
3,77 kg,"Falahati Mohamad Neyad Irán Irán 155,0 + 202,5...","Reyhan Arabacıoğlu Turquía Turquía 160,0 + 195...","Li Hongli China China 162,5 + 190,0 = 352,5"
4,85 kg,"Valeriu Calancea Rumania Rumania 167,5 + 215,0...","Yuan Aijun China China 170,0 + 212,5 = 382,5","Sergo Chakhoyan Australia 172,5 + 205,0 = 377,5"
5,94 kg,"Milen Dobrev Bulgaria Bulgaria 185,0 + 220,0 =...","Hakan Yılmaz Turquía Turquía 180,0 + 220,0 = 4...","Vadim Vacarciuc Moldavia Moldavia 177,5 + 222,..."
6,105 kg,"Said Saif Asaad Catar Catar 195,0 + 227,5 = 422,5","Vladimir Smorchkov Rusia Rusia 195,0 + 222,5 =...","Bünyami Sudaş Turquía Turquía 185,0 + 230,0 = ..."
7,+105 kg,"Hosein Rezazadeh Irán Irán 207,5 + 250,0 = 457,5","Velichko Cholakov Bulgaria Bulgaria 205,0 + 24...","Viktors Ščerbatihs Letonia Letonia 200,0 + 245..."

In [24]:
#male_2003_df.o = male_2003_df.iloc[:,0].str.replace("\w+\d+\,\d+\=\d+\,\d+w+", "\d+\=\d+\,\d+", regex=True)
male_2003_df.iloc[:,0] = male_2003_df.iloc[:,0].str.replace("kg", "", regex=True)
male_2003_df

,mass_in_kg,gold,silver,bronce
0,56,"Wu Meijin China China 127,5 + 160,0 = 287,5​","Adrian Jigău Rumania Rumania 125,0 + 155,0 = 2...","Sedat Artuç Turquía Turquía 125,0 + 152,5 = 27..."
1,62,"Halil Mutlu Turquía Turquía 147,5 + 175,0 = 322,5","Shi Zhiyong China China 147,5 + 170,0 = 317,5","Le Maosheng China China 135,0 + 170,0 = 305,0"
2,69,"Zhang Guozheng China China 152,5 + 192,5 = 345,0","Lee Bae-Young Corea del Sur Corea del Sur 150,...","Turan Mirzəyev Azerbaiyán Azerbaiyán 147,5 + 1..."
3,77,"Falahati Mohamad Neyad Irán Irán 155,0 + 202,5...","Reyhan Arabacıoğlu Turquía Turquía 160,0 + 195...","Li Hongli China China 162,5 + 190,0 = 352,5"
4,85,"Valeriu Calancea Rumania Rumania 167,5 + 215,0...","Yuan Aijun China China 170,0 + 212,5 = 382,5","Sergo Chakhoyan Australia 172,5 + 205,0 = 377,5"
5,94,"Milen Dobrev Bulgaria Bulgaria 185,0 + 220,0 =...","Hakan Yılmaz Turquía Turquía 180,0 + 220,0 = 4...","Vadim Vacarciuc Moldavia Moldavia 177,5 + 222,..."
6,105,"Said Saif Asaad Catar Catar 195,0 + 227,5 = 422,5","Vladimir Smorchkov Rusia Rusia 195,0 + 222,5 =...","Bünyami Sudaş Turquía Turquía 185,0 + 230,0 = ..."
7,+105,"Hosein Rezazadeh Irán Irán 207,5 + 250,0 = 457,5","Velichko Cholakov Bulgaria Bulgaria 205,0 + 24...","Viktors Ščerbatihs Letonia Letonia 200,0 + 245..."

In [30]:
male_2003_df.iloc[:,1] = male_2003_df.iloc[:,1].str.replace("([A-Z]+)", "", regex=True)
male_2003_df.iloc[:,1]

0    127516002875
1    147517503225
2    152519253450
3    155020253575
4    167521503825
5    185022004050
6    195022754225
7    207525004575
Name: gold, dtype: object