# pandas cheat sheet

#### Importing modules

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import DataFrame, Series

####

#### Series

In [29]:
s1 = Series(range(0, 5))
odd_s2 = Series(range(1, 6))
even_s2 = Series(range(2, 7))
s3 = s1 + even_s2 
print(s3)

0     2
1     4
2     6
3     8
4    10
dtype: int64

### DataFrame
#### get csv from an URL

In [30]:
df = DataFrame()
df = pd.read_csv('https://support.staffbase.com/hc/en-us/article_attachments/360009197031/username.csv', 
sep=';', header=0, index_col=0, na_values=['na', '', '-', '.']) 
display(df)
df.info()

            Identifier First name Last name
Username
booker12          9012     Rachel    Booker
grey07            2070      Laura      Grey
johnson81         4081      Craig   Johnson
jenkins46         9346       Mary   Jenkins
smith79           5079      Jamie     Smith

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, booker12 to smith79
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0    Identifier  5 non-null      int64
 1   First name   5 non-null      object
 2   Last name    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 160.0+ bytes